body {
    background-color: blueviolet;
    margin: 0;
}

/*Estilo del header*/
#encabezado{
    width: 100%;
    height: 15%;
    background-color: white;
}

#menu{
    position: absolute;
    right: 2.5%;
    top: 1%;
    height: 4%;
    width: 4%;
    border: none;
    background:none;
    cursor: pointer;
}

#menu svg:hover{
    background-color: rgb(197, 197, 197);
    border-radius: 25px;
}

#logoSuperior {
    width: 12%;
    position: relative;
    left: 45%;
    padding-top: 5px;
}

/*Contenido*/
#contenido {
    height: 75%;
    background-color: brown;
}

/*Pie de pagina*/
footer {
    background-color: white;
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
}

#cebollo {
    vertical-align: bottom; /*Quita espacio bajo la foto*/
    transform: rotate(-15deg);
    width:85px;
    margin-right: 10px;
}

#redesSociales{
    width: 175px;
    border-left: 3px blueviolet solid;
    display: inline-block;
    position: relative;
    bottom: 8px;
}

#redesSociales a{
    padding-left: 20px;
}

#redesSociales p {
    text-align: center;
    color: blueviolet;
}


