nav {
    position: fixed;
    width: 15%;
    height: 800px;
    background-color: white;
    float: left;
    display: flex;
    flex-direction: column;

}

nav ul {
    padding: 0;
    list-style: none;
}

nav ul li {
    color: black;
    padding: 4.5% 0 4.5% 0;
    font-family: "DynaPuff", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:"wdth" 100;
    font-size: 20px;
    text-align: center;
    margin: 20% 0;
}

#prensa{
    margin-left: 15%;
}

.seccion {
    margin-left: 2.5%;
    margin-right: 2.5%;
}

h1 {
    text-align: center;
    border: 1px solid white;
    color: black;
    border-radius: 5px;
    background-color: white;
    font-family: "DynaPuff", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    font-size: 25px;
    padding: 1% 0;
}

#eventos img{
    width: 200px;
    height: 200px;
    float: left;
    margin-right: 2.5%;
}

#evento_flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

p {
    font-family: "Manjari", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}

.seccion > p {
    text-align: center;
    color: white;
}

.feria {
    width: 45%;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 1%;
    border-radius: 5px;
}


#entrevista_flex{
    display: flex;
    flex-direction: column;
    
}

.interview{
    padding: 1%;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    margin: 1% 0;
    
}

.interview p{
    margin-top: 7.5%;
}

.interview img+has(#djpanchi) {

}

#djpanchi{
    padding:0 2.5%;
    width: 560px;
    height: 315px;
    margin-left: 0;
    float:left;
}
