nav {
    position: fixed;
    top: 0;
    width: 15%;
    height: 2000px;
    background-color: white;
    float: left;
    display: flex;
    flex-direction: column;
    padding-top: 5%;
}

nav ul {
    padding: 0;
    list-style: none;
}

nav ul li {
    color: black;
    padding: 4.5% 0 4.5% 0;
    font-family: "DynaPuff", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:"wdth" 100;
    font-size: 20px;
    text-align: center;
    margin: 20% 0;
}

#prensa{
    margin-left: 15%;
}

.seccion {
    margin-left: 2.5%;
    margin-right: 2.5%;
}

h1 {
    text-align: center;
    border: 1px solid white;
    color: black;
    border-radius: 5px;
    background-color: white;
    font-family: "DynaPuff", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    font-size: 25px;
    padding: 1% 0;
}

#eventos img{
    width: 200px;
    height: 200px;
    float: left;
    margin-right: 2.5%;
}

#evento_flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

p, legend,label {
    font-family: "Manjari", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}

.seccion > p {
    text-align: center;
    color: white;
}

.feria {
    width: 45%;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow:0 0 20px white;
    border: 1px white dotted;
    padding: 1%;
    border-radius: 5px;
}


#entrevista_flex{
    display: flex;
    flex-direction: column;
    
}

.interview{
    padding: 1%;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow:0 0 20px white;
    border: 1px white dotted;
    border-radius: 5px;
    margin: 1% 0;
    
}

#djpanchi + p{
    margin-top: 7.5%;
}

#djpanchi{
    padding:0 2.5%;
    width: 560px;
    height: 315px;
    margin-left: 0;
    float:left;
}

.interview img{
    width: 25%;
    padding: 1%;
}

.interview img:hover{
    border-radius: 5px;
    padding: 1%;
    background-color:white;
}

#review_flex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.articulo {
    box-sizing: border-box;
    padding: 1%;
    width: 25%;
    height: 450px;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow:0 0 20px white;
    border: 1px white dotted;
    border-radius: 5px;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
}

.articulo img {
    padding-top: 20%;
    width: 100%;
}

.enlaceTexto {
    text-decoration: none;
}

a p, .reviewTexto {
    width: 100%;
    height: 65px;
    font-family: "DynaPuff", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    font-size: 45px;
    color: black;
    text-align: center;
    background-color: white;
    padding-top: 5px;
    border-radius: 5px;
    margin-bottom: 10px;

}

a p:hover{
    box-shadow: 0 0 25px blueviolet;
}

#cont_pres{
    margin-bottom: 100px;
}

#presskit {
    text-decoration: none;
}

#press_flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.press {
    width: 45%;
}

#formulario {
    padding: 2.5%;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow:0 0 20px white;
    border: 1px white dotted;
    border: 1px solid white;

}

fieldset {
    border-radius: 5px;
}

#envio, #reset, .botonEnlace {
    font-family: "DynaPuff", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    font-size: 25px;
    color: black;
    background-color: white;
    border: none;
    border-radius: 10px;
    text-align: center;
}

#envio:hover, #reset:hover {
    color:blueviolet;
}

label, input {
    margin:5px 0;
}

#sombra:hover{
    box-shadow: 0 0 25px white;
    color: blueviolet;
}

.botonEnlace {
    padding: 10px;
}

.botonEnlace a{
    text-decoration: none;
    color: black;
}

.botonEnlace:hover{
    text-decoration: none;
    box-shadow: 0 0 20px blueviolet;
}

.botonEnlace a:hover {
    color: blueviolet;
}


