nav {
    width: 100%;
    height: 45px;
    margin: 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    padding: 1%;
    width: 50%;
    float: left;
    font-family: "DynaPuff", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    text-align: center;
    padding: 1% 0;
    background-color: black;
    color: white;
    cursor: pointer;
    box-shadow: 0 0 60px inset blueviolet;
}

nav ul li a {
    color: white;
    padding: 2% 25%;
}

nav ul li a:hover {
    color: white;
}

nav ul li:hover {
    background-color: rgba(212, 212, 212, 0.25);

}

iframe {
    width: 100%;
    height: 700px;
    margin-left: 0;
    border: none;
}

/*Para la tienda juegos*/
#juegos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

#juegos a img {
    width: 70%;
}

#juegos a img:hover{
    box-shadow: 0 0 30px white;
}

#juegos div {
    text-align: center;
    margin-top: 1.5%;
}

/*Para el merch*/
#tienda_flex {
    width: 90%;
    margin:auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
}

.item {
    box-sizing: border-box;
    padding: 1%;
    background-color: rgba(255,255,255,0.5);
    border-radius: 5px;
    border: 1px solid white;
    width: 20%;
    margin: 2%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.item img {
    margin-top: 2.5%;
    width: 60%;
    height: 50%;
}

.botonCompra {
    font-family: "DynaPuff", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    font-size: 25px;
    border: none;
    border-radius: 5px;
    background-color: white;
}

.botonCompra:hover {
    color: blueviolet;
}

p {
    font-family: "Manjari", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}